<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav" th:fragment="navbar">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/auth/login}" th:unless="${isAuthenticated}">Login</a>
        <a class="navbar-brand" th:href="@{/auth/register}" th:unless="${isAuthenticated}">Register</a>
        <a class="navbar-brand" th:href="@{/auth/logout}" th:if="${isAuthenticated}">Logout</a>
        <a class="navbar-brand" th:href="@{/users/{id}(id=${userId})}" th:if="${isAuthenticated}"
           th:text="${currentUserName}">Profile</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarResponsive" data-bs-toggle="collapse" type="button">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/about}">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/mostCommented}">Most
                    commented</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/admin}" th:if="${isAdmin}">Admin
                    panel</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/posts/new}"
                                        th:if="${isAuthenticated}">New Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/posts}"
                                        th:if="${isAuthenticated}">All Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/posts/comments}"
                                        th:if="${isAuthenticated}">All Comments</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/contact}"
                                        th:if="${isAuthenticated}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


</body>
</html>