<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Head Resources</title>
</head>
<body>
<link href="../../static/assets/favicon.ico" rel="icon" th:fragment="favicon" type="image/x-icon"/>
<!-- Google fonts-->
<script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
        th:fragment="icons"></script>
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
      th:fragment="googleFont" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      th:fragment="googleFontTwo" type="text/css"/>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="../../static/css/styles.css" rel="stylesheet" th:fragment="stylesheet" th:href="@{/css/styles.css}"/>
</body>
</html>