<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<header class="masthead" style="background-image: url('/assets/img/Update-comment.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Update comment</h2>
                    <form action="#" method="post" th:action="${requestURI}" th:object="${comment}">
                        <label th:text="#{comment.label.content}">Content</label>
                        <br/>
                        <textarea cols="63" name="textarea" placeholder="Comment text." rows="4"
                                  th:field="*{content}"></textarea>
                        <label class="error" th:errors="*{content}">Title error placeholder</label>
                        <br/><br/>
                        <br/>
                        <br/>
                        <input type="submit" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>