<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>


<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/auth/login}" th:unless="${isAuthenticated}">Login</a>
        <a class="navbar-brand" th:href="@{/auth/register}" th:unless="${isAuthenticated}">Register</a>
        <a class="navbar-brand" th:href="@{/auth/logout}" th:if="${isAuthenticated}">Logout</a>
        <a class="navbar-brand" th:href="@{/users/{id}(id=${userId})}" th:if="${isAuthenticated}"
           th:text="${currentUserName}">Profile</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarResponsive" data-bs-toggle="collapse" type="button">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                <!--<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>-->
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:if="${isAuthenticated && isAdmin}" th:href="@{/admin}">Admin
                    page</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/about}">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/mostCommented}">Most
                    commented</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:if="${isAuthenticated}" th:href="@{/posts/new}">New Post</a></li>

                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/posts}"
                                        th:if="${isAuthenticated}">All Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 0.9em"
                                        th:href="@{/posts/comments}" th:if="${isAuthenticated}">All Comments</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:if="${isAuthenticated}" th:href="@{/contact}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main Content-->

<form action="#" method="get" th:action="@{/posts/comments}" th:object="${filterOptions}">
    <label th:text="#{comment.filter.label}">Filter Options</label>
    <br/><br/>
    <input placeholder="Username" th:field="*{username}" type="text"/>
    <input placeholder="Post title" th:field="*{postName}" type="text"/>
    <input placeholder="Content" th:field="*{content}" type="text"/>
    <input placeholder="StartDate" th:field="*{startDate}" type="date"/>
    <input placeholder="EndDate" th:field="*{endDate}" type="date"/>

    <select th:field="*{sortBy}">
        <option value="">Sort By</option>
        <option value="username">Username</option>
        <option value="postName">Post title</option>
        <option value="content">Content</option>
        <option value="startDate">start date</option>
        <option value="endDate">end date</option>
    </select>
    <select th:field="*{sortOrder}">
        <option value="">Sort Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <br/><br/>

    <input type="submit" value="Search"/>
</form>
<header class="masthead" style="background-image: url('../assets/img/back-gound-posts.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <!-- Post preview-->
                    <div th:if="${comments.isEmpty()}">
                        <h5 class="post-meta" th:text="#{comment.label.NoComments}">No Posts</h5>
                    </div>
                    <div th:unless="${comments.isEmpty()}">
                        <p class="post-detail" style="display: inline-block;"> All comments:</p>
                    <div class="post-preview" th:each="comment : ${comments}">
                        <!--                <a href="post.html">-->
                        <p class="post-title"><a th:text="${comment.content}">Post Title</a></p>
                        <!--                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>-->
                        <!--                </a>-->

                        <p class="post-detail" th:if="${isAuthenticated && isAdmin}">
                            Posted by
                            <a th:href="@{/users/{id}(id=${comment.getCreatedBy().userId})}"
                               th:text="${comment.getCreatedBy().getUserName()}">Created by</a>
                        </p>
                        <p class="post-detail" th:unless="${isAdmin}">
                            Posted by
                               <a th:text="${comment.getCreatedBy().getUserName()}">Created by</a>
                        </p>
                        <p class="post-detail">
                            Created on
                            <a th:text="${comment.getCreationDate()}">CreationDate</a>
                        </p>
                        <hr class="my-4"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src='/js/scripts.js'></script>
</body>
</html>
