<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New comment</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home Page</a></h3></li>
</ul>
<ul>
    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></h3></li>
</ul>
<h2>New Comment</h2>
<form action="#" method="post" th:action="${requestURI}" th:object="${comment}">
    <label th:text="#{comment.label.content}">Content</label>
    <br/>
    <input th:field="*{content}" type="text"/>
    <label class="error" th:errors="*{content}">Content error placeholder</label>
    <br/>
    <br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>