<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Java Developer Forum</title>
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>
<body>
<!-- Navigation-->
<link th:replace="~{/fragments/navbar :: navbar}"/>
<!-- Page Header-->
<header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>A place for cool developers</h1>
                    <span class="subheading">Share your bugs here</span>
                    <br>
                    <div class="site-heading">
                        <a class="title" th:text="${numberPost + ' created posts!'}">Post count</a>
                    </div>
                    <div class="site-heading">
                        <a class="title" th:text="${numberOfUsers + ' active users in the forum!'}">User count</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 my-new-class">
        <div class="col-md-12 text-center">
            <a class="text-decoration-none me-6 fw-bold most-recent align-items-center" href="#" th:href="@{/}">Most
                recent</a>
        </div>
    </header>
</div>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->

            <div class="post-preview" th:each="post : ${posts}">
                <!--                <a href="post.html">-->
                <p class="post-title" th:if="${isAuthenticated}"><a th:href="@{/posts/{postId}(postId=${post.postId})}"
                                                                    th:text="${post.title}">Post Title</a></p>
                <p class="post-title" th:unless="${isAuthenticated}"><a th:text="${post.title}">Post Title</a></p>

                                <p th:if="${isAuthenticated}" class="post-meta">
                                    Posted by
                                    <a  th:href="@{/users/{id}(id=${post.getUser().getUserId()})}"
                                       th:text="${post.getUser().userName}">Created by</a>
                                </p>
                <p class="post-meta" th:unless="${isAuthenticated}">
                    Posted by
                    <a th:text="${post.getUser().userName}">Created by</a>
                </p>
                <p class="post-meta">
                    Created on
                    <a th:text="${#temporals.format(post.creationDate, 'dd-MM-yyyy')}">CreationDate</a>
                </p>
            </div>
            <!-- Divider-->
            <!--<hr class="my-4" />-->
            <!-- Divider-->
            <!--<hr class="my-4" />-->
            <!-- Pager-->
        </div>
    </div>
</div>
<!-- Footer-->
<!--<link th:replace="~{/fragments/footer :: footer}"/>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
