<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/LogIn.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div class="content">
    <div class="text">
        Login
    </div>

    <form action="#" method="post" th:action="@{/auth/login}" th:object="${login}">

        <!--USERNAME-->
        <div class="field">
            <input required th:field="*{username}" type="text">
            <span class="fas fa-user"></span>
            <label th:text="#{user.label.username}">Username</label>
            <div class="invalid-feedback">
                <label class="error" style="position:absolute; left:20em; color:darkred; white-space: nowrap;"
                       th:errors="*{username}">Username error
                    placeholder</label>
            </div>
        </div>

        <!--PASSWORD-->
        <div class="field">
            <input required th:field="*{password}" type="password">
            <span class="fas fa-lock"></span>
            <label th:text="#{user.label.password}">Password</label>
            <div class="invalid-feedback">
                <label class="error" style="position:absolute; left:20em; color:darkred; white-space: nowrap;"
                       th:errors="*{password}">Password error
                    placeholder</label>
            </div>
        </div>
        <button type="submit">Sign in</button>
        <div class="sign-up">
            Not a member?
            <a href="#" th:href="@{/auth/register}">Signup now</a>
        </div>
        <div class="sign-up">
            <a href="#" th:href="@{/}">Home</a>
        </div>
    </form>
</div>
</body>
</html>
