<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
    <!-- Google fonts-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/auth/login}" th:unless="${isAuthenticated}">Login</a>
        <a class="navbar-brand" th:href="@{/auth/register}" th:unless="${isAuthenticated}">Register</a>
        <a class="navbar-brand" th:href="@{/auth/logout}" th:if="${isAuthenticated}">Logout</a>
        <a class="navbar-brand" th:href="@{/users/{id}(id=${userId})}" th:if="${isAuthenticated}"
           th:text="${currentUserName}">Profile</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarResponsive" data-bs-toggle="collapse" type="button">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                <!--<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>-->
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/admin"
                                        th:if="${isAuthenticated && isAdmin}">Admin page</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/about}">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/mostCommented}">Most
                    commented</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/posts/new}"
                                        th:if="${isAuthenticated}">New Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/posts}"
                                        th:if="${isAuthenticated}">All Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 0.9em"
                                        th:href="@{/posts/comments}" th:if="${isAuthenticated}">All Comments</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/contact}"
                                        th:if="${isAuthenticated}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
                <div class="post-preview" th:each="post : ${posts}">
                    <!--                <a href="post.html">-->
                    <p class="post-title" th:if="${isAuthenticated}"><a
                            th:href="@{/posts/{postId}(postId=${post.postId})}"
                            th:text="${post.title}">Post Title</a></p>
                    <p class="post-title" th:unless="${isAuthenticated}"><a th:text="${post.title}">Post Title</a></p>
                    <p class="post-meta" th:if="${isAuthenticated}">
                        Posted by
                        <a th:href="@{/users/{id}(id=${post.getUser().getUserId()})}"
                           th:text="${post.getUser().userName}">Created by</a>
                    </p>
                    <p class="post-meta">
                        Created on
                        <a th:text="${post.getCreationDate()}">CreationDate</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
</header>
<!-- Divider-->
<hr class="my-4"/>
<!-- Divider-->
<hr class="my-4"/>
<!-- Pager-->
</div>
</div>
</div>

</body>
</html>