<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>
<body>
<!-- Navigation-->
<link th:replace="~{/fragments/navbar :: navbar}"/>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/coding-picture.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <!--<h1 th:text="${post.getTitle()}"> Post Title</h1>-->
                    <!--<h1 style="font-size: 2em;"> Edit post</h1>-->
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!--<p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>-->
                <div class="my-5">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form data-sb-form-api-token="c12244f1-de2f-4305-b726-9336362d4023" id="contactForm" method="post">

                        <!--<div class="form-floating">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required"/>
                            <label for="name">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="title:required">A name is required.</div>
                        </div>-->

                        <!--TITLE-->
                        <div class="form-floating mb-3">
                            <input class="form-control" data-sb-validations="required" id="title" placeholder="Title"
                                   th:field="*{post.title}" type="text"/>
                            <label for="title">Title</label>
                            <label class="error" style="position:absolute; color:darkred; white-space: nowrap;"
                                   th:errors="*{post.title}">Title error
                                placeholder</label>
                        </div>
                        <!--END TITLE-->


                        <div class="mb-3">
                            <label class="form-label d-block">Tags</label>


                            <div class="form-check form-check-inline" th:each="tag : ${tags}">
                                <input class="form-check-input" name="tags" th:value="${tag.title}" type="checkbox"/>
                                <label class="form-check-label" th:text="${tag.title}">Tag</label>
                            </div>


                            <!--<div class="form-check form-check-inline">
                                <input class="form-check-input" id="optionB" type="checkbox" name="tags" data-sb-validations="" />
                                <label class="form-check-label" for="optionB">option B</label>
                            </div>-->


                            <!--<div class="form-check form-check-inline">
                                <input class="form-check-input" id="optionC" type="checkbox" name="tags" data-sb-validations="" />
                                <label class="form-check-label" for="optionC">option C</label>
                            </div>-->

                        </div>


                        <!--<div class="form-floating">
                            <input class="form-control" id="email" type="email" placeholder="Enter your email..."/>
                            <label for="email">Tags</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        </div>-->


                        <!--CONTENT-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" data-sb-validations="required" id="content" placeholder="Content"
                                      style="height: 10rem;" th:field="*{post.content}"
                                      type="text"></textarea>
                            <label for="content">Content</label>
                            <label class="error" style="position:absolute; color:darkred; white-space: nowrap;"
                                   th:errors="*{post.content}">Content error
                                placeholder</label>
                        </div>


                        <!--WORKING CONTENT
                        <div class="form-floating mb-3">
                            &lt;!&ndash;<textarea class="form-control" id="content" type="text" placeholder="Content" style="height: 10rem;" data-sb-validations="required" th:field="${post.content}"></textarea>&ndash;&gt;
                            <textarea name="textarea" rows="4" cols="63" th:field="*{post.content}"></textarea>
                            &lt;!&ndash;<label >Content</label>&ndash;&gt;
                            <div class="invalid-feedback" data-sb-feedback="content:required" th:errors="*{post.content}">Content is required.</div>
                        </div>-->


                        <!--<div class="form-floating">
                            <textarea class="form-control" id="message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
                            <label for="message">Content</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A content is required.</div>
                        </div>-->


                        <br/>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Post updated successful!</div>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error updating post!</div>
                        </div>
                        <!-- Submit Button-->
                        <!--<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>-->
                        <button class="btn btn-outline-primary" th:if="${(isAuthenticated && !isBlockedUser)}"
                                type="submit">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>


<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link href="../static/PostView.css" th:href="@{/PostView.css}" rel="stylesheet"/>
    <link href="../static/EditPost.css" th:href="@{/EditPost.css}" rel="stylesheet"/>
  &lt;!&ndash; <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">&ndash;&gt;
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    &lt;!&ndash;<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">&ndash;&gt;
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>
<body>

&lt;!&ndash; Navigation&ndash;&gt;
<link th:replace="~{/fragments/navbar :: navbar}"/>
&lt;!&ndash; Page Header&ndash;&gt;
<header class="masthead" style="background-image: url('/assets/img/coding-picture.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    &lt;!&ndash;<h1 th:text="${post.getTitle()}"> Post Title</h1>&ndash;&gt;
                    &lt;!&ndash;<h1 th:text="${post.getTitle()}" style="font-size: 3em"> Post Title</h1>&ndash;&gt;
                </div>
            </div>
        </div>
    </div>
</header>

&lt;!&ndash; Main Content&ndash;&gt;

    &lt;!&ndash; Form Area &ndash;&gt;
        &lt;!&ndash; Form &ndash;&gt;
        <form id="contact-us" method="post" action="#">
            &lt;!&ndash; Left Inputs &ndash;&gt;
            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                &lt;!&ndash; Name &ndash;&gt;
                    <textarea type="text" class="form" th:text="${post.title}" style="margin-left: 5em; height: 4em; width: 100em; font-size: 15px" />


                &lt;!&ndash; Email &ndash;&gt;
               &lt;!&ndash; <input type="text" placeholder="Tag" />&ndash;&gt;


                    <textarea type="text" class="form" th:text="${post.content}" style="margin-left: 5em; width: 100em;"/>


            </div>&lt;!&ndash; End Left Inputs &ndash;&gt;

            &lt;!&ndash; Bottom Submit &ndash;&gt;
            <div class="relative fullwidth col-xs-12">
                &lt;!&ndash; Send Button &ndash;&gt;
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button>
            </div>&lt;!&ndash; End Bottom Submit &ndash;&gt;
            &lt;!&ndash; Clear &ndash;&gt;
            <div class="clear"></div>
        </form>

        &lt;!&ndash; Your Mail Message &ndash;&gt;
        <div class="mail-message-area">
            &lt;!&ndash; Message &ndash;&gt;
            <div class="alert gray-bg mail-message not-visible-message">
                <strong>Thank You !</strong> Your email has been delivered.
            </div>
        </div>






&lt;!&ndash;<ul>
    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></h3></li>
</ul>

<h2>Edit Post</h2>

<form th:replace="PostCreateView.html :: post-form"></form>&ndash;&gt;
&lt;!&ndash;<script src="/EditPost.css"></script>&ndash;&gt;


&lt;!&ndash; Bootstrap core JS&ndash;&gt;
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
&lt;!&ndash; Core theme JS&ndash;&gt;
<script src='/js/scripts.js'></script>
</body>
</html>-->
