<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post View</title>
    <link href="../static/PostView.css" rel="stylesheet" th:href="@{/PostView.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!-- Navigation-->
<link th:replace="~{/fragments/navbar :: navbar}"/>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/coding-picture.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <!--<h1 th:text="${post.getTitle()}"> Post Title</h1>-->
                    <h1 style="font-size: 3em" th:text="${post.title}"> Post Title</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content-->
<!-- Post preview-->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="post-content">
                <div class="post-container">
                    <div class="post-detail">

                        <div class="user-info">
                            <!--<i class="fa-sharp fa-regular fa-tags"></i>-->
                            <h5><a class="profile-link" th:text="${post.getUser().getUserName()}">Username</a>
                                <span class="fas fa-user-alt">
                                            </span>
                            </h5>
                        </div>

                        <select name="see likes">
                            <option th:each="likers : ${post.getPostLikers()}"
                                    th:text="${likers.getUserName()}"
                                    th:value="${likers.getUserName()}">
                            </option>
                        </select>

                        <a th:href="@{/posts/{id}/likes/new (id=${post.postId})}"
                           th:text="#{post.like}" th:unless="${post.isLiked(currentUserName)}">like</a>
                        <a th:href="@{/posts/{id}/likes/delete (id=${post.postId})}"
                           th:if="${post.isLiked(currentUserName)}" th:text="#{post.unlike}">unlike</a>


                        <!--EDIT and DELETE-->
                        <div class="reaction">

                            <!--<button type="submit" class="fas fa-edit button" style="color: #6f85ae" th:href="@{/posts/{id}/update (id=${post.getPostId()})}"></button>-->

                            <!--</i>-->
                            <!--<div class="button" th:if="${(post.getUser().getUserName() == currentUserName && !post.getUser().isBlocked()) || post.getUser().isAdmin()}">
                                <a href="#" th:href="@{/posts/{id}/update (id=${post.getPostId()})}" th:text="Update">Update post</a>
                            </div>-->

                            <!--                                        <div class="button fas fa-edit button" style="color: #6f85ae">-->
                            <!--                                            <a href="#" th:href="@{/posts/{id}/update (id=${post.getPostId()})}" th:text="Update">Update post</a>-->
                            <!--                                        </div>-->

                            <a th:href="@{/posts/{id}/update (id=${post.getPostId()})}">
                                <div class="button fas fa-edit button" style="color: #6f85ae"
                                     th:if="${((isAuthenticated && post.getUser().userName == (currentUserName) && !isBlockedUser) || isAdmin)}">
                                    Update post
                                </div>
                            </a>

                            <a th:href="@{/posts/{id}/delete (id=${post.getPostId()})}">
                                <div class="fas fa-trash-alt" style="color: #6f85ae"
                                     th:if="${((isAuthenticated && post.getUser().userName == (currentUserName) && !isBlockedUser) || isAdmin)}">
                                    Delete post
                                </div>
                            </a>
                            <!--<div class="button" th:if="${post.getUser().getUserName() == currentUserName || post.getUser().isAdmin() || !post.getUser().isBlocked()}">
                                <a href="#" th:href="@{/posts/{id}/delete (id=${post.getPostId()})}" th:text="Delete">Delete post</a>
                            </div>-->

                        </div>

                        <div class="line-divider"></div>

                        <div class="post-text">
                            <p th:text="${post.getContent()}"> test <i class="em em-anguished"></i> <i
                                    class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                        </div>

                        <!--                                    <p class="post-meta" style="display: inline-block;">Tags:</p>-->
                        <!--                                    <div class="text" th:each="tag : ${post.getTags()}"-->
                        <!--                                         style="display: inline-block;">-->
                        <!--                                        <p th:text="${tag.getTitle()}"> test <i class="em em-anguished"></i> </p>-->
                        <!--                                    </div>-->

                        <p class="post-meta fas fa-tags" style="display: inline-block;">Tags:</p>
                        <div class="text" style="display: inline-block;"
                             th:each="tag, tagIndex : ${post.getTags()}">
                            <p>
                                <a th:text="${tag.getTitle()}"></a>
                                <span th:if="${tagIndex.index} &lt; ${post.getTags().size() - 1}">, </span>
                            </p>
                        </div>
                        <div class="line-divider"></div>

                        <div class="post-comment" th:each="comment : ${comments}">
                            <img alt="" class="profile-photo-sm"
                                 src="https://bootdey.com/img/Content/avatar/avatar7.png">
                            <p><a class="profile-link" th:text="${comment.getCreatedBy().getUserName()}">
                                User(comment) </a><i class="em em-laughing" th:text="${' ' + comment.getContent()}"></i>
                            </p>
                            <a href="#"
                               th:href="@{'/posts/' + ${post.postId} + '/comment/' + ${comment.commentId} + '/update'}">
                                <div class="button fas fa-edit button" style="color: #6f85ae"
                                     th:if="${(isAuthenticated && comment.getCreatedBy().userName == (currentUserName) && !isBlockedUser)}">
                                    Update post
                                </div>
                            </a>

                            <a href="#"
                               th:href="@{'/posts/' + ${post.postId} + '/comment/' + ${comment.commentId} + '/delete'}">
                                <div class="fas fa-trash-alt" style="color: #6f85ae"
                                     th:if="${(isAuthenticated && comment.getCreatedBy().userName == (currentUserName) && !isBlockedUser)|| isAuthenticated && isAdmin}">
                                    Delete post
                                </div>
                            </a>
                        </div>

                        <div class="post-comment">

                            <form method="post" th:action="@{/posts/{id}/comment/new (id=${post.getPostId()})}">
                                <input class="form-control" name="content" placeholder="Post a comment"
                                       th:if="${(isAuthenticated && !isBlockedUser)}" type="text">
                                <label class="error" th:errors="*{comment.content}">Content error placeholder</label>
                                <button class="btn btn-outline-primary" th:if="${(isAuthenticated && !isBlockedUser)}"
                                        type="submit">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--   </div>
           </div>-->
        </div>
        <hr class="my-4"/>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src='/js/scripts.js'></script>
</body>
</html>