<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All posts</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>

<body>
<!-- Navigation-->
<!--<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html">Sample Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/auth/login}" th:unless="${isAuthenticated}">Login</a>
        <a class="navbar-brand" th:href="@{/auth/register}" th:unless="${isAuthenticated}">Register</a>
        <a class="navbar-brand" style="font-size: 0.9em" th:href="@{/auth/logout}" th:if="${isAuthenticated}">Logout</a>
        <a class="navbar-brand" th:href="@{/users/{id}(id=${userId})}" th:if="${isAuthenticated}"
           th:text="${currentUserName}">Profile</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarResponsive" data-bs-toggle="collapse" type="button">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/" style="font-size: 0.9em">Home</a>
                </li>
                <!--<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>-->
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/admin"
                                        style="font-size: 0.9em" th:if="${isAuthenticated && isAdmin}">Admin panel</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 0.9em"
                                        th:href="@{/about}">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 0.9em"
                                        th:href="@{/posts/new}">New Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/mostCommented}">Most
                    commented</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 0.9em"
                                        th:href="@{/posts}" th:if="${isAuthenticated}">All Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 0.9em"
                                        th:href="@{/posts/comments}" th:if="${isAuthenticated}">All Comments</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 0.9em"
                                        th:href="@{/contact}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->

<form action="#" method="get" th:action="@{/posts}" th:object="${filterOptions}">
    <input placeholder="Title" size="15px" style="margin-left: 5px" th:field="*{title}" type="text"/>
    <input placeholder="Content" size="15px" th:field="*{content}" type="text"/>
    <input placeholder="Username" size="15px" th:field="*{username}" type="text"/>
    <input placeholder="StartDate" size="15px" th:field="*{startDate}" type="date"/>
    <input placeholder="EndDate" size="15px" th:field="*{endDate}" type="date"/>
    <select th:field="*{tagId}">
        <option value="">Any Tag</option>
        <option th:each="tag : ${tags}"
                th:text="${tag.getTitle()}"
                th:value="${tag.getTagId()}">
            PostTag
        </option>
    </select>

    <select th:field="*{sortBy}">
        <option value="">Sort By</option>
        <option value="title">Title</option>
        <option value="content">Content</option>
        <option value="username">Username</option>
        <option value="startDate">start date</option>
        <option value="endDate">end date</option>
    </select>
    <select th:field="*{sortOrder}">
        <option value="">Sort Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>

    <input type="submit" value="Search"/>
</form>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview" style="margin-top: 100px" th:if="${posts.isEmpty()}">
                <em>
                    <h4>
                        No posts
                    </h4>
                </em>
            </div>
            <div class="post-preview" th:unless="${posts.isEmpty()}" th:each="post : ${posts}">
                <a th:href="@{/posts/{postId} (postId=${post.postId})}">
                    <h2 class="post-title" th:text="${post.title}">Post Title</h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a th:text="*{post.getUser().userName}">Username</a>
                    <a th:text="${' on '+ #temporals.format(post.creationDate, 'dd MMMM yyyy')}">CreationDate</a>
                </p>
                <div class="post-meta" style="display: inline-block;">
                    <span th:if="${post.getTags().isEmpty()}">
                        <h6 class="post-meta" th:text="#{post.lable.noTags}">No tags</h6>
                    </span>
                    <span th:unless="${post.getTags().isEmpty()}">
                        <h6 class="post-meta" th:text="#{post.lable.Tags}">Tags</h6>
                    </span>
                    <span th:each="tag : ${post.tags}">
                        <a th:text="${tag.title}">Tag Name</a>
                    </span>
                </div>

                <hr class="my-4" />

            </div>
            <!-- Divider-->
            <!--<hr class="my-4" />-->
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>