<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a post</title>
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>

<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<header class="masthead" style="background-image: url('../assets/img/create-post.jpeg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>New Post</h2>
                    <form action="#" method="post" th:action="${requestURI}" th:fragment="post-form"
                          th:object="${post}">
                        <label th:text="#{post.label.title}">Title</label>
                        <br/>
                        <input th:field="*{title}" type="text"/>
                        <label class="error" placeholder="Post title" th:errors="*{title}">Title error
                            placeholder</label>
                        <br/><br/>
                        <label th:text="#{post.label.content}">Content</label>
                        <br/>
                        <textarea cols="63" name="textarea" placeholder="Write your great post here!" rows="4"
                                  th:field="*{content}"></textarea>
                        <label class="error" th:errors="*{content}">Content error placeholder</label>
                        <br/><br/>
                        <input type="submit" value="Save"/>
                    </form>

</body>
</html>