<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="/LogIn.css" rel="stylesheet">
    <link href="/Register.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div class="content">
    <div class="text">
        Register
    </div>

    <form action="#" method="post" th:action="@{/auth/register}" th:object="${register}">

        <!--USERNAME-->
        <div class="field">
            <input required th:field="*{username}" type="text">
            <span class="fas fa-user"></span>
            <label th:text="#{user.label.username}">Username</label>
            <div class="invalid-feedback">
                <label class="error" style="position:absolute; left:20em; color:darkred; white-space: nowrap;"
                       th:errors="*{username}">Username error
                    placeholder</label>
            </div>
        </div>

        <!--PASSWORD-->
        <div class="field">
            <input required th:field="*{password}" type="password">
            <span class="fas fa-lock"></span>
            <label th:text="#{user.label.password}">Password</label>
            <div class="invalid-feedback">
                <label class="error" style="position:absolute; left:20em; color:darkred; white-space: nowrap;"
                       th:errors="*{password}">Password error
                    placeholder</label>
            </div>
        </div>


        <!--PASSWORD CONFIRM-->
        <div class="field">
            <input required th:field="*{passwordConfirm}" type="password">
            <span class="fas fa-key"></span>
            <label th:text="#{user.label.password-confirm}">Confirm Password</label>
            <div class="invalid-feedback">
                <label class="error" style="position:absolute; left:20em; color:darkred; white-space: nowrap;"
                       th:errors="*{passwordConfirm}">Password error
                    placeholder</label>
            </div>
        </div>

        <!--FIRST NAME-->
        <div class="field">
            <input required th:field="*{firstName}" type="text">
            <span class="fas fa-user-circle"></span>
            <label th:text="#{user.label.firstName}">First name</label>
            <div class="invalid-feedback">
                <label class="error" style="position:absolute; left:20em; color:darkred; white-space: nowrap;"
                       th:errors="*{firstName}">Password error
                    placeholder</label>
            </div>
        </div>


        <!--LAST NAME-->
        <div class="field">
            <input required th:field="*{lastName}" type="text">
            <span class="far fa-user-circle"></span>
            <label th:text="#{user.label.last-name}">Last name</label>
            <div class="invalid-feedback">
                <label class="error" style="position:absolute; left:20em; color:darkred; white-space: nowrap;"
                       th:errors="*{lastName}">Password error
                    placeholder</label>
            </div>
        </div>


        <!--EMAIL-->
        <div class="field">
            <input required th:field="*{email}" type="text">
            <span class="fas fa-envelope"></span>
            <label th:text="#{user.label.email}">Email</label>
            <div class="invalid-feedback">
                <label class="error" style="position:absolute; left:20em; color:darkred; white-space: nowrap;"
                       th:errors="*{email}">Email error
                    placeholder</label>
            </div>
        </div>


        <button type="submit">Register</button>
        <div class="sign-up">
            Already have an account?
            <a href="#" th:href="@{/auth/login}">Login now</a>
        </div>
        <div class="sign-up">
            <a href="#" th:href="@{/}">Home</a>
        </div>
    </form>
</div>


</body>
</html>


<!--<link th:replace="~{/fragments/navbar :: navbar}"/>

<header class="masthead" style="background-image: url('../assets/img/register-page.jpeg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
                        <label th:text="#{user.label.username}">Username</label>
                        <br/>
                        <input type="text" th:field="*{username}"/>
                        <label class="error" th:errors="*{username}">Username error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.password}">Password</label>
                        <br/>
                        <input type="password" th:field="*{password}"/>
                        <label class="error" th:errors="*{password}">Password error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.password-confirm}">Confirm Password</label>
                        <br/>
                        <input type="password" th:field="*{passwordConfirm}"/>
                        <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.first-name}">First Name</label>
                        <br/>
                        <input type="text" th:field="*{firstName}"/>
                        <label class="error" th:errors="*{firstName}">First name error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.last-name}">Last Name</label>
                        <br/>
                        <input type="text" th:field="*{lastName}"/>
                        <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.email}">Email</label>
                        <br/>
                        <input type="text" th:field="*{email}"/>
                        <label class="error" th:errors="*{email}">Email error placeholder</label>
                        <br/><br/>

                        <input type="submit" value="Register"/>
                    </form>

                    &lt;!&ndash; Bootstrap core JS&ndash;&gt;
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
                    &lt;!&ndash; Core theme JS&ndash;&gt;
                    <script src='/js/scripts.js'></script>-->


