<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home Page</a></h3></li>
</ul>
<ul>
    <li><h3><a href="/posts" th:text="#{navigation.posts}">Posts page</a></h3></li>
</ul>

<div class="button">
    <a href="#" th:href="@{/posts/{id} (id=${post.getPostId()})}" th:text="Comments">Comment</a>
</div>
<h2 class="title" th:text="${comment.getCommentId()}">Comment Id</h2>
<h2 class="title" th:text="${comment.content}">Post title</h2>
<h3 th:text="${comment.getCreatedBy().userName}">Post content</h3>
<h3 th:text="${comment.getCreationDate()}">Post content</h3>

<div class="button"
     th:if="${(isAuthenticated && comment.getCreatedBy().userName == (currentUserName) && !isBlockedUser)}">
    <a href="#" th:href="@{'/posts/' + ${post.postId} + '/comment/' + ${comment.commentId} + '/update'}"
       th:text="Update">Update Comment</a>
</div>

<div class="button" th:if="${(isAuthenticated && comment.getCreatedBy().userName == (currentUserName) && !isBlockedUser)
|| isAuthenticated && isAdmin}">
    <a href="#" th:href="@{'/posts/' + ${post.postId} + '/comment/' + ${comment.commentId} + '/delete'}"
       th:text="Delete">Delete Comment</a>
</div>

<br>
<br>

</body>
</html>