<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entity Not found</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css"/>
    <link href="/Unauthorized.css" rel="stylesheet"/>
</head>


<body>
<div class="error-page">
    <div>
        <h1 data-h1="401">401</h1>
        <p data-p="UNAUTHORIZED">UNAUTHORIZED</p>
    </div>
</div>
<div id="particles-js"></div>
<!--a(href="#").back GO BACK-->
<a class="back" th:href="@{/}">GO BACK</a>
<script src="/js/Unauthorized.js"></script>
</body>
</html>