<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update info</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>

<body>
&lt;!&ndash; Navigation&ndash;&gt;
<link th:replace="~{/fragments/navbar :: navbar}"/>
&lt;!&ndash; Page Header&ndash;&gt;
<header class="masthead" style="background-image: url('/assets/img/update-info.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading"></div>
            </div>
        </div>
    </div>
</header>



&lt;!&ndash; Main Content&ndash;&gt;
<main class="mb-4">
    <div class="container-xl px-4 mt-4">
        &lt;!&ndash; Account page navigation&ndash;&gt;
        &lt;!&ndash;<nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"  target="__blank">Notifications</a>
        </nav>&ndash;&gt;


        &lt;!&ndash;<hr class="mt-0 mb-4">&ndash;&gt;

        <div class="row">
            <div class="col-xl-4">
                &lt;!&ndash; Profile picture card&ndash;&gt;
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        &lt;!&ndash; Profile picture image&ndash;&gt;
                        <img class="img-account-profile rounded-circle mb-2" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                        &lt;!&ndash; Profile picture help block&ndash;&gt;
                        &lt;!&ndash;<div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>&ndash;&gt;
                        &lt;!&ndash; Profile picture upload button&ndash;&gt;
                        &lt;!&ndash;<button class="btn btn-primary" type="button">Upload new image</button>&ndash;&gt;
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                &lt;!&ndash; Account details card&ndash;&gt;
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">


                        <form action="#" th:action="@{/users/{id}/update (id=${user.getUserId()})}" method="post">
                            &lt;!&ndash; Form Group (username)&ndash;&gt;
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Username</label>
                                <input class="form-control" id="inputUsername" type="text" th:field="*{user.userName}">
                                <label class="error" th:errors="*{user.userName}">Username error placeholder</label>
                            </div>
                            &lt;!&ndash; Form Row&ndash;&gt;
                            <div class="row gx-3 mb-3">
                                &lt;!&ndash; Form Group (first name)&ndash;&gt;
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" th:field="*{user.firstName}">
                                    <label class="error" th:errors="*{user.firstName}">First name error placeholder</label>
                                </div>
                                &lt;!&ndash; Form Group (last name)&ndash;&gt;
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" th:field="*{user.lastName}">
                                    <label class="error" th:errors="*{user.lastName}">Last name error placeholder</label>
                                </div>
                            </div>
                            &lt;!&ndash; Form Row&ndash;&gt;
                            &lt;!&ndash;<div class="row gx-3 mb-3">
                                &lt;!&ndash; Form Group (organization name)&ndash;&gt;
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Organization name</label>
                                    <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start Bootstrap">
                                </div>
                                &lt;!&ndash; Form Group (location)&ndash;&gt;
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Location</label>
                                    <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
                                </div>
                            </div>&ndash;&gt;
                            &lt;!&ndash; Form Group (email address)&ndash;&gt;
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" th:field="*{user.email}">
                                <label class="error" th:errors="*{user.email}">Email error placeholder</label>
                            </div>
                            &lt;!&ndash; Form Row&ndash;&gt;
                            <div class="row gx-3 mb-3">
                                &lt;!&ndash; Form Group (phone number)&ndash;&gt;

                                &lt;!&ndash;<div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
                                </div>
&ndash;&gt;
                                &lt;!&ndash; Form Group (birthday)&ndash;&gt;

                                &lt;!&ndash;<div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Birthday</label>
                                    <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                                </div>&ndash;&gt;

                            </div>
                            &lt;!&ndash; Save changes button&ndash;&gt;
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>




</main>

&lt;!&ndash; Bootstrap core JS&ndash;&gt;
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
&lt;!&ndash; Core theme JS&ndash;&gt;
<script src="/js/scripts.js"></script>
</body>
</html>
-->










































<!--WORKING CODE-->


<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update info</title>
</head>
<body>

<h1>post update</h1>
<form th:replace="UserCreateView.html :: user-form"></form>

</body>
</html>-->










<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update info</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
</head>

<body>
<!-- Navigation-->
<link th:replace="~{/fragments/navbar :: navbar}"/>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/update-info.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading"></div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">

                    <form method="post" th:object="${user}">
                        <div class="mb-3">
                            <label class="small mb-1" th:text="#{user.userName}">Username</label>
                            <input class="form-control"  th:field="*{userName}" th:readonly="${user.userName != null}" type="text"/>
                            <label class="error" th:errors="*{userName}">Username error placeholder</label>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="field col-md-6">
                                <label class="small mb-1" th:text="#{user.label.firstName}">First name</label>
                                <input class="form-control" placeholder="Enter your first name" th:field="*{firstName}" type="text"/>
                                <label class="error" style="position:absolute; color:darkred; white-space: nowrap; font-size: 17px" th:errors="*{firstName}">First name error placeholder</label>
                            </div>

                            <!--Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName" th:text="#{user.lastname}">Last name</label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" th:field="*{lastName}"/>
                                <label class="error" style="position:absolute; color:darkred; white-space: nowrap; font-size: 17px" th:errors="*{lastName}">Last name error placeholder</label>
                            </div>
                        </div>
                        <!--Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress" th:text="#{user.email}">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" th:field="*{email}"/>
                            <label class="error" style="position:absolute; color:darkred; white-space: nowrap; font-size: 17px" th:errors="*{email}">Email error placeholder</label>
                        </div>
                        <!--Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (password)-->
                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{user.password}">Password</label>
                                <input class="form-control" th:field="*{password}" type="text"/>
                                <label class="error" style="position:absolute; color:darkred; white-space: nowrap; font-size: 17px" th:errors="*{password}">Password error placeholder</label>
                            </div>

                            <!--Form Group (phone number)-->
                            <!--<div class="col-md-6">
                                <label class="small mb-1" th:text="#{user.phonenumber}">Phone number</label>
                                <input class="form-control" th:field="*{phoneNumber}" type="text"/>
                            </div>-->
                        </div>
                        <!--From For Admin-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{user.label.role}">Use role</label>
                                <select th:field="${user.userTypeId}" style="margin-top: 10px">
                                    <option th:each="role : ${userRoles}"
                                            th:text="${role.getUserRoleName()}"
                                            th:value="${role.getUserRoleId()}">
                                    </option>
                                </select>
                                <label class="error" th:errors="*{userTypeId}">UserTypeId error placeholder</label>
                            </div>
                        </div>
                        <!--Save changes button-->
                        <button class="btn btn-primary" type="submit">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


                        <!--<label th:text="#{user.password}">Some username</label>
                        <br/>
                        <input th:field="*{password}" type="text"/>
                        <label class="error" th:errors="*{password}">Password error placeholder</label>
                        <br/><br/>-->

                        <!--<label th:text="#{user.firstname}">Some firstname</label>
                        <br/>
                        <input th:field="*{firstName}" type="text"/>
                        <label class="error" th:errors="*{firstName}">Firstname error placeholder</label>
                        <br/><br/>-->

                        <!--<label th:text="#{user.lastname}">Style</label>
                        <br/>
                        <input th:field="*{lastName}" type="text"/>
                        <label class="error" th:errors="*{lastName}">Lastname error placeholder</label>
                        <br/><br/>-->

                        <!--<label th:text="#{user.email}">Email</label>
                        <br/>
                        <input th:field="*{email}" type="text"/>
                        <label class="error" th:errors="*{email}">Email error placeholder</label>
                        <br/><br/>-->


   <!--                     <label th:text="#{user.label.role}">User role</label>
                        <br/>
                        <select th:field="${user.userTypeId}">
                            <option th:each="role : ${userRoles}"
                                    th:text="${role.getUserRoleName()}"
                                    th:value="${role.getUserRoleId()}">
                            </option>
                        </select>
                        <label class="error" th:errors="*{userTypeId}">UserTypeId error placeholder</label>

                        <input type="submit" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
