<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
</ul>

<div th:if="${users.isEmpty()}">
    <h2 th:text="#{users.noUsers}">No Users</h2>
</div>
<div th:unless="${users.isEmpty()}">
    <h2 th:text="#{users.title}">All Users</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{user.label.firstName}">First name</div>
            <div class="cell" th:text="#{user.label.lastName}">Last name</div>
            <div class="cell" th:text="#{user.label.username}">Username</div>
            <div class="cell" th:text="#{user.label.email}">Email</div>
        </div>
        <div class="row" th:each="user : ${users}">
            <div class="cell">
                <a href="#" th:href="@{/users/{id}(id=${user.getUserId()})}" th:text="${user.firstName}">User</a>
            </div>
            <div class="cell" th:text="${user.lastName}">Last Name</div>
            <div class="cell" th:text="${user.userName}">Username</div>
            <div class="cell" th:text="${user.email}">Email</div>
        </div>
    </div>
</div>
</body>
</html>