<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Profile update</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>

    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->

</head>


<body>
<!-- Navigation-->
<link th:replace="~{/fragments/navbar :: navbar}"/>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/user-update.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading"></div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content-->
<main class="mb-4">
    <!--<div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">-->



                <div class="container">
                   <!-- <div class="row flex-lg-nowrap">
                        <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                            <div class="card p-3">
                                <div class="e-plist e-plist&#45;&#45;active-bg">
                                    <ul class="nav">
                                        <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                                        <li class="nav-item"><a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-crud-users" target="__blank"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
                                        <li class="nav-item"><a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page" target="__blank"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->

                        <div class="col">
                            <div class="row">
                                <div class="col mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="e-profile">
                                                <div class="row col-12 col-sm-auto mb-3">
                                                    <!--<div class="col-12 col-sm-auto mb-3">
                                                        <div class="mx-auto" style="width: 140px;">
                                                            <div class="d-flex justify-content-center align-items-center rounded">
                                                                &lt;!&ndash;<span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>&ndash;&gt;
                                                            </div>
                                                        </div>
                                                    </div>-->


                                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap" th:text="*{user.firstName + ' ' + user.lastName}">John Smith</h4>
                                                            <p class="mb-0" style="margin-top: 10px" th:text="'@' + *{user.userName}">@johnny.s</p>



                                                            <!--<div class="text-muted"><small>Last seen 2 hours ago</small></div>-->
                                                            <!--<div class="mt-2">
                                                                &lt;!&ndash;<button class="btn btn-primary" type="button">
                                                                    <i class="fa fa-fw fa-camera"></i>
                                                                    <span>Change Photo</span>
                                                                </button>&ndash;&gt;
                                                            </div>-->
                                                        </div>
                                                        <div class="text-center text-sm-right">
                                                            <span class="badge-secondary" th:text="*{'Role: ' + user.getUserRole().userRoleName}">administrator</span>
                                                            <div class="text-muted" th:text="${'Joined ' + #temporals.format(user.creationDate, 'dd MMMM yyyy')}"><small>User joined date</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                                </ul>

                                                <div class="tab-content pt-3">
                                                    <div class="tab-pane active">
                                                        <form class="form" novalidate="">
                                                            <div class="row">
                                                                <div class="col">

                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>First Name</label>
                                                                                <input class="form-control" type="text" name="name" th:value="*{user.firstName}" disabled>
                                                                            </div>
                                                                        </div>


                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Last Name</label>
                                                                                <input class="form-control" type="text" name="name"  th:value="*{user.lastName}" disabled>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Username</label>
                                                                                <input class="form-control" type="text" name="name" style="margin-bottom: 40px"  th:value="*{user.userName}" disabled>
                                                                            </div>
                                                                        </div>



                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Email</label>
                                                                                    <input class="form-control" type="text" name="name"  th:value="*{user.email}" disabled>
                                                                                </div>
                                                                            </div>


                                                                        </div>


                                                                    <!--<div class="row">
                                                                        <div class="col mb-3">
                                                                            <div class="form-group">
                                                                                <label>About</label>
                                                                                <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>-->


                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 col-sm-6 mb-3">
                                                                    <!--<div class="mb-2"><b>Password</b></div>-->
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Current Password</label>
                                                                                <!--<input class="form-control" type="password" placeholder="••••••">-->
                                                                                <!--<div>
                                                                                    <input class="form-control" type="password" th:value="*{user.password}" id="myInput">
                                                                                    <input type="checkbox" onclick="passwordBox()">Show Password
                                                                                </div>-->


                                                                                <div style="display: flex; align-items: center; white-space: nowrap; font-size: 18px">
                                                                                    <input class="form-control" type="password" th:value="*{user.password}" id="myInput" disabled>
                                                                                    <label style="margin-left: 10px;">
                                                                                        <input type="checkbox" onclick="passwordBox()">Show Password
                                                                                    </label>
                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <!--<div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>New Password</label>
                                                                                <input class="form-control" type="password" placeholder="••••••">
                                                                            </div>
                                                                        </div>
                                                                    </div>-->


                                                                    <!--<div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                                                                <input class="form-control" type="password" placeholder="••••••"></div>
                                                                        </div>
                                                                    </div>-->


                                                                </div>


                                                                <!--<div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                                    <div class="mb-2"><b>Keeping in Touch</b></div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <label>Email Notifications</label>
                                                                            <div class="custom-controls-stacked px-2">
                                                                                <div class="custom-control custom-checkbox">
                                                                                    <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                                                                    <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                                                                                </div>
                                                                                <div class="custom-control custom-checkbox">
                                                                                    <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                                                                    <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                                                                </div>
                                                                                <div class="custom-control custom-checkbox">
                                                                                    <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                                                                    <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>-->
                                                            </div>



                                                            <a th:href="@{__${httpServletRequest.requestURI}__/update}">
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <span class="btn btn-primary" type="submit">Update info</span>
                                                                    </div>
                                                                </div>
                                                            </a>



                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-3 mb-3">

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="px-xl-3">

                                                <a th:href="@{__${httpServletRequest.requestURI}__/delete}">
                                                    <div class="btn btn-block btn-secondary">
                                                        <i class="fa fa-trash"></i>
                                                        <span>Delete</span>
                                                    </div>
                                                </a>

                                                <!--<button class="btn btn-block btn-secondary" th:href="@{__${httpServletRequest.requestURI}__/delete}">
                                                    <i class="fa fa-trash"></i>
                                                    <span>Delete</span>
                                                </button>-->


                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title font-weight-bold">Support</h6>
                                            <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                            <button type="button" class="btn btn-primary">Contact Us</button>
                                        </div>
                                    </div>-->

                                </div>
                            </div>

                        </div>
                    </div>
            </div>
        <!--</div>
    </div>-->
</main>






<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>























<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User View</title>
</head>
<body>
<h1 th:text="#{user.userInformation}">User view</h1>
<h2 th:text="#{user.userName} + ' ' + ${user.userName}">Some Username</h2>
<h2 th:text="'first name: ' + ${user.firstName}">Some Firstname</h2>
<h2 th:text="'last name: ' + ${user.lastName}">Some Last name</h2>
<h2 th:text="'email: ' + ${user.email}">Some Firstname</h2>
<h2 th:text="'status: ' + ${user.getUserRole().getUserRoleName()}">Some user role</h2>

<a href="#" th:href="@{__${httpServletRequest.requestURI}__/update}">Update</a>
<a href="#" th:href="@{__${httpServletRequest.requestURI}__/delete}">Delete</a>

</body>
</html>
-->


