<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create user</title>
</head>
<body>
<h2>New user creation</h2>

<form action="#" method="post" th:action="@{__${httpServletRequest.requestURI}__}" th:fragment="user-form"
      th:object="${user}">

    <label th:text="#{user.userName}">Some username</label>
    <br/>
    <input th:field="*{userName}" th:readonly="${user.userName != null}" type="text"/>
    <label class="error" th:errors="*{userName}">Username error placeholder</label>
    <br/><br/>

    <label th:text="#{user.password}">Some username</label>
    <br/>
    <input th:field="*{password}" type="text"/>
    <label class="error" th:errors="*{password}">Password error placeholder</label>
    <br/><br/>

    <label th:text="#{user.firstname}">Some firstname</label>
    <br/>
    <input th:field="*{firstName}" type="text"/>
    <label class="error" th:errors="*{firstName}">Firstname error placeholder</label>
    <br/><br/>

    <label th:text="#{user.lastname}">Style</label>
    <br/>
    <input th:field="*{lastName}" type="text"/>
    <label class="error" th:errors="*{lastName}">Lastname error placeholder</label>
    <br/><br/>

    <label th:text="#{user.email}">Email</label>
    <br/>
    <input th:field="*{email}" type="text"/>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <br/><br/>

    <!--<label th:text="#{user.role}">User role</label>
    <br/>
    <input type="text" th:field="*{userTypeId}"/>
    <label class="error" th:errors="*{userTypeId}">UserTypeId error placeholder</label>
    <br/><br/>-->

    <label th:text="#{user.label.role}">User role</label>
    <br/>
    <select th:field="${user.userTypeId}">
        <option th:each="role : ${userRoles}"
                th:text="${role.getUserRoleName()}"
                th:value="${role.getUserRoleId()}">
        </option>
    </select>
    <label class="error" th:errors="*{userTypeId}">UserTypeId error placeholder</label>

    <input type="submit" value="Save"/>
</form>
</body>
</html>