<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link th:replace="~{/fragments/scripts :: scripts}"/>
    <link th:replace="~{/fragments/resourses :: favicon}"/>
    <link th:replace="~{/fragments/resourses :: icons}"/>
    <link th:replace="~{/fragments/resourses :: googleFont}"/>
    <link th:replace="~{/fragments/resourses :: googleFontTwo}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
    <!-- Google fonts-->
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>
<header class="mastheadSmaller masthead" style="background-image: url('/assets/img/admin-panel.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>All users</h1>
                    <span class="subheading">Authorised personal only</span>
                    <br>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-12 col-lg-12 col-xl-12">

            <form action="#" method="get" th:action="@{/users}" th:object="${UserFilterOptions}">
                <label th:text="#{users.filter.label}">Filter Options</label>
                <br/><br/>
                <input placeholder="Username" th:field="*{username}" type="text"/>
                <input placeholder="User first name" th:field="*{firstName}" type="text"/>
                <input placeholder="User last name" th:field="*{lastName}" type="text"/>
                <input th:field="${UserFilterOptions.creationDate}" type="date"/>

                <select th:field="*{userType}">
                    <option value="">User type</option>
                    <option th:each="role : ${userRoles}"
                            th:text="${role.getUserRoleName()}"
                            th:value="${role.getUserRoleId()}">
                        BeerStyleOne
                    </option>
                </select>
                <select th:field="*{sortBy}">
                    <option value="username">Username</option>
                    <option defselected="selected" value="date">date</option>
                    <option value="userRole">userRole</option>
                </select>
                <select th:field="*{sortOrder}">
                    <option value="">Sort Order</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <br/><br/>

                <input type="submit" value="Search"/>
            </form>


            <div class="table">
                <div class="row" style="background-color: #bcbebf">
                    <div class="cell" style="width: 20%; word-wrap: break-word" th:text="#{user.label.username}">
                        Username
                    </div>
                    <div class="cell" style="width: 15%; word-wrap: break-word" th:text="#{user.label.firstName}">First
                        name
                    </div>
                    <div class="cell" style="width: 15%; word-wrap: break-word" th:text="#{user.label.lastName}">Last
                        name
                    </div>
                    <div class="cell" style="width: 20%; word-wrap: break-word" th:text="#{user.label.email}">Email
                    </div>
                    <div class="cell" style="width: 10%; word-wrap: break-word" th:text="#{user.label.role}">User role
                    </div>
                    <div class="cell" style="width: 20%; word-wrap: break-word" th:text="#{user.label.date}">Creation
                        date
                    </div>
                </div>
                <div class="row" th:each="user : ${users}">
                    <div class="cell" style="width: 20%; word-wrap: break-word" th:text="${user.userName}">Username
                    </div>
                    <div class="cell" style="width: 15%; word-wrap: break-word" th:text="${user.firstName}">First name
                    </div>
                    <div class="cell" style="width: 15%; word-wrap: break-word" th:text="${user.lastName}">Last Name
                    </div>
                    <div class="cell" style="width: 20%; word-wrap: break-word" th:text="${user.email}">Email</div>
                    <div class="cell" style="width: 10%; word-wrap: break-word" th:text="${user.userRole.userRoleName}">
                        User role
                    </div>
                    <div class="cell" style="width: 15%; word-wrap: break-word" th:text="${user.creationDate}">Creation
                        date
                    </div>


                    <div style="color: #6f85ae; width: 5%;">
                        <a th:href="@{/users/{id}(id=${user.getUserId()})}">
                            <div class="button fas fa-edit" style="color: #6f85ae" >
                                Update user
                            </div>
                        </a>

                        <a th:href="@{/users/{id}/delete (id=${user.getUserId()})}">
                            <div class="fas fa-trash-alt" style="color: darkred"
                                 th:if="${((isAuthenticated && !isBlockedUser) || isAuthenticated && isAdmin)}">
                                Delete user
                            </div>
                        </a>
                    </div>

                    <!--<a style="color: #6f85ae; width: 5%;"
                       th:href="@{/users/{id}(id=${user.getUserId()})}">
                        <div class="button fas fa-edit" style="color: #6f85ae">
                            Update user
                        </div>
                    </a>

                    <a style="color: #6f85ae; width: 5%;"
                       th:href="@{/users/{id}/delete (id=${user.getUserId()})}"
                       th:if="${((isAuthenticated && !isBlockedUser) || isAuthenticated && isAdmin)}">
                        <div class="fas fa-trash-alt" style="color: #6f85ae">
                            Delete user
                        </div>
                    </a>-->


                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<!--<link th:replace="~{/fragments/footer ::  footer}"/>-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
