
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header {
    display: table-header-group;
    font-weight: bold;
}

.rowGroup {
    display: table-row-group;

}

.text {
    font-family: "Lucida Console", "Courier New", monospace;
    color: blueviolet;
}


.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 25%;
}

.error {
    color: red;
}

.title {
    color: blue;
}

.button {

    background-color: wheat; /* Green */
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: white;
    display: inline-block;
    font-size: 16px;
}

